$colour-blue:			#00b8fd;
$colour-red:			#d0021b;
$colour-black:			#272727;
$colour-light:			#ffffff;

$colour-light-mid:		#EFEDE4;
$colour-mid:			#eeeeee;
$colour-mid-dark:		#aaaaaa;
$colour-dark:			#222222;

$animation-timing:      ease;


$colour-light-trans:	rgba(255,255,255,.5);

 
$font-head:		'Abys';
$font-head2: 'parabola-regular';
$google-heading: 'Caveat Brush';
$font-body:		'proxima-nova';
